In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/raw_data_healthcare.csv")
df.drop(columns="text_index", inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   medication  784 non-null    object
 1   rate        743 non-null    float64
 2   comment     784 non-null    object
dtypes: float64(1), object(2)
memory usage: 18.5+ KB

In [4]:
df.describe()

             rate
count  743.000000
mean     7.122476
std      3.352164
min      1.000000
25%      4.000000
50%      9.000000
75%     10.000000
max     10.000000

In [5]:
df

,medication,rate,comment
0,Inflectra (infliximab) for Crohn's Disease,1.0,Insurance forced me to switch to inflectra due...
1,Remicade (infliximab) for Rheumatoid Arthritis,NaN,My wife had RA from when she was a child. She ...
2,Remicade (infliximab) for Ulcerative Colitis,1.0,This medication Remicade made me in constant p...
3,Inflectra (infliximab) for Crohn's Disease,1.0,"I have Fistulizing Crohn's, dx'd 6 yrs ago @ 3..."
4,Remicade (infliximab) for Ulcerative Colitis,10.0,Remicade literally gave me my life back 9 yrs ...
...,...,...,...
779,Tysabri (natalizumab) for Multiple Sclerosis,NaN,Best treatment I have been on yet.
780,Tysabri (natalizumab) for Multiple Sclerosis,10.0,"Tysabri has, so far, ended my relapses. It ha..."
781,Tysabri (natalizumab) for Multiple Sclerosis,10.0,Tysabri has been wonderful so thankful
782,Tysabri (natalizumab) for Multiple Sclerosis,5.0,I have had 22 treatments and the last one I ha...
783,Tysabri (natalizumab) for Multiple Sclerosis,7.0,I've been on it for a number of years and it a...